* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #000;
  background: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 87.5%;
}

header {
  color: #fff;
  background: #095379;
  text-align: center;
  padding: 2rem 0 7rem;
}

.container {
  width: min(90vw, 800px);

  margin: auto;
}

#info {
  margin-top: -6rem;
  color: #fff;
}

#result {
  margin-top: 7rem;
  width: 100%;
  display: block;
  overflow-x: auto;
}

#comments{
  margin-top: 2rem;
  margin-left: 2rem;
}

a{
  text-decoration: none;
  color: #095379;
}

@media (min-width: 800px) {
  html {
    font-size: 93.75%;
  }
}
