* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #000;
  background: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

:root {
  font-size: 1.8rem;
}

header {
  background: #095379;
  text-align: center;
  padding: 1rem 0 2rem;
}

.container {
  width: min(90vw, 800px);

  margin: auto;
}

#info {
  margin-top: -2rem;
  color: #fff;
  font-size: .6rem;
}

#result {
  margin-top: 1rem;
  width: 100%;
}